@import "~sass/styles";

// TODO: Work on applying animations. Perhaps different modifiers.

.notification {
	display: none;
	margin: 0 0 10px;
	padding: 10px;

	&.-error {
		background-color: $red;
		color: $white;
		display: block;
	}
	&.-success {
		background-color: $green;
		color: $white;
		display: block;
	}
}
