<div class="currency-converter">
	<component-modal #modal></component-modal>
	<span class="_currency-converter__title">Currency Converter</span>
	<div class="_currency-converter__row">
		<span class="_currency-converter_row__title">
			Type in amount and select currency
		</span>
		<div class="_currency-converter_row__inputs">
			<input type="text"
						 class="_currency-converter_row_inputs__value"
						 placeholder="0.00"
						 name="initial_value"
						 OnlyNumber="true"
						 [(ngModel)]="initial_value"
						 (input)="convertCurrency($event.target.value)"
					 />
			<select [(ngModel)]="initial_currency"
							(change)="convertCurrency()">
				<option *ngFor="let currency of currencies"
								[ngValue]="currency">{{currency}}</option>
			</select>
		</div>
	</div>
	<div class="_currency-converter__row">
		<span class="_currency-converter_row__title">
			Converted amount
		</span>
		<div class="_currency-converter_row__inputs">
			<input type="text"
						 class="_currency-converter_row_inputs__value"
						 placeholder="0.00"
						 name="converted_value"
						 OnlyNumber="true"
						 readonly
						 [(ngModel)]="converted_value"
						 (input)="convertCurrency($event.target.value)"
					 />
			<select [(ngModel)]="converted_currency"
							(change)="convertCurrency()">
				<option *ngFor="let currency of currencies"
								[ngValue]="currency">{{currency}}</option>
			</select>
		</div>
	</div>
	<span class="_currency-converter__disclaimer-link" (click)="openDisclaimer()">Disclaimer</span>
</div>
