@import "~sass/styles";

.modal {
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;

	&.-active {
		display: flex;
	}

	// TODO: Work on apply animations.

	._modal-container {
		align-self: center;
		background-color: $white;
		border-radius: 2px;
		display: flex;
		flex-direction: column;
		height: 85%;
		margin: 0 auto;
		overflow: hidden;
		width: 750px;

		header {
			align-items: center;
			border-bottom: 1px solid $light-grey;
			display: flex;
			justify-content: space-between;
			padding: 20px 30px;

			._modal-container__close {
				cursor: pointer;
				font-size: $font-size-medium;
			}
		}
		section {
			overflow-x: scroll;
			padding: 10px 30px;

			._modal-container__date {
				border-bottom: 1px solid $dark-grey;
				font-weight: bold;
				margin: 0 0 10px;
			}
			._modal-container__currency-values-container {
				display: flex;
				flex-direction: column;

				._modal-container__currency-values-container__element {
					display: flex;
					padding: 8px 15px;

					&:nth-child(odd) {
						background-color: $light-grey;
					}

					span {
						&:first-child {
							font-weight: bold;
							width: 40px;
						}
					}
				}
			}
		}

		@include respond-to(sm-max) {
			width: 550px;
		}
		@include respond-to(xs-max) {
			width: 85%;
		}
	}
}
