@import "~sass/styles";

.container {
	display: flex;
	font-size: $font-size-base;
	justify-content: space-between;
	padding: 10px;

	@include respond-to(sm-max) {
		flex-direction: column;
	}

	.component-converter {
		border-radius: 2px;
		background-color: $white;
		box-shadow: 0 0 4px 0 rgba(155, 155, 155, 0.25);
		border: 1px solid $light-grey;
		display: flex;
		flex-direction: column;
		flex-basis: calc(33.333% - 15px);
		padding: 10px 15px;

		@include respond-to(sm-max) {
			margin: 0 0 15px;
		}
	}
}
